@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .2s linear;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

:root{
    --blue: #0984e3;
    --black: #333;
    --gold: gold;
    --light-color: #666;
    --light-bg: #eee;
    --border: 2rem solid #333;
    --box-shadow: 0.5rem 1rem rgba(0,0,0,.2);
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
    background: #0984e3;
}
  
.btn:hover {
    background: #333;
    color: #fff;
}
.header{
    position: sticky;
    top: 0; right: 0; left: 0;
    z-index: 50;
    padding: 1rem 9%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: var(--blue);
    
}
.header a{
    text-decoration: none;
}
.logo {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bolder;
}
.logo i{
    color: var(--gold);
}

.header .search-form{
    border-radius: 5rem;
    height: 3.5rem;
    width: 40rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    background: #fff;
}
.header .search-form input{
    width: 100%;
    padding-right: 1rem;
    font-size: 1.7rem;
    text-transform: none;
    color: var(--light-color);
}
.header .search-form label {
    font-size: 2rem;
    color: var(--light-color);
    cursor: pointer;
}
  
  .header .search-form label:hover {
    color: var(--blue);
}


.header .icons a, .header .icons div{
    font-size: 2.5rem;
    margin-left: 2rem;
    color: #fff;
    cursor: pointer;
}
.header #menu_btn:hover{
    color: var(--gold);
}
.header .icons a:hover{
    color: var(--gold);
}
/* .header .cart{
    padding-left: 0.5rem;
}
.header .cart span{
    background-color: orange;
    border-radius: 40%;
    font-size: 2rem;
    
} */
/* Sidebar CSS */
.side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 0.5s;  
    background: #fff;
    z-index: 10000;
}


.side-bar .closebtn{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 5rem;
    cursor: pointer;
    color: var(--light-color);
    text-decoration: none;
}
.side-bar .closebtn:hover{
    transform: rotate(90deg);
    color: var(--black);
}
.side-bar .user{
    background-color: var(--light-bg);
    padding: 2rem;
    text-align: center;
}

.side-bar .user img{
    border-radius: 50%;
    border: 5px solid #fff;
    height: 17rem;
    width: 17rem;
}
.side-bar .user h3{
    font-size: 1.7rem;
    color: var(--light-color);
    padding: 0.5rem 0rem;
}
.side-bar .user a{
    font-size: 1.5rem;
    color: var(--blue);
    text-decoration: none;
}
.side-bar .user a:hover{
    color: var(--black);
}
.side-bar .my_side_navbar{
    padding-top: 1rem;
}
.side-bar .my_side_navbar a{
    display: block;
    font-size: 1.7rem;
    color: var(--light-color);
    padding: 1rem 2rem;
    text-decoration: none;
}
.side-bar .my_side_navbar a:hover{
    color: var(--blue);
}
.side-bar .my_side_navbar a:hover i{
    padding-right: 2rem;
}
.side-bar .my_side_navbar a i{
    padding-right: 0.5rem;
}




/* @media (max-width:991px){

    .footer {
        padding: 1rem 9%;
        background-color: var(--black);
    }
    .logo {
        margin: 0px 34rem;
    }
    .footer .mynavbar ul li {
        display: block;
        text-align: center;
        padding: 0.5rem 0rem;
    }
    .mynavbar {
        padding: 2rem 0rem;
    }
    .credit{
      flex-flow: column;
      text-align: center;
    }
    .social_icons {
        text-align: center;
    }
  
  } */
  
  